<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <h2 >Egy szerző nevét add meg: </h2>
        <input type="search" name="author">
        <h4>Egy random idézet tőle: </h4>
        <p><%= idezet %></p>
    </form>
</body>
</html> 